.button {
  color: white;

  &__dark {
    color: black;
    &--medium {
      width: 20rem;
    }
    &--small {
      width: 10rem;
    }
    &--large {
      width: 30rem;
    }
  }
  &__light {
    color: aqua;
    &--medium {
      width: 20rem;
    }
    &--small {
      width: 10rem;
    }
    &--large {
      width: 30rem;
    }
  }
}
