.card {
  position: relative;
  text-align: center;
  &__side {
    height: 20rem;
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 0.8s ease;
    &--front {
      color: black;
    }
    &--back {
      color: aqua;
      transform: rotateY(180deg);
    }
  }
  &__picture {
    width: 10rem;
    height: 10rem;
    background: url("./assets/스누피카드.png") center no-repeat;

    &--front {
    }
    &--back {
    }
  }
}
